* {
	margin: 0 auto;
	padding: 0;
}
body {
	background: #2C3E50;
	font-family: 'Kosugi', sans-serif;
}
.contencao {
	margin: 100px auto 40px auto;
	width: 1100px;
	height: 732px;
	background-color: #000;
	overflow: hidden;
	color: #fff;
}
#imagemBg {
	width: 1100px;
	height: 732px;
	background-size: cover;
	transition: 1s;
}
.back {
	position: relative;
	float: left;
	margin-top: -426px;
	width: 65px;
	height: 120px;
	background-color: rgba(44,62,80, .4);
	color: #fff;
	font-size: 50px;
	line-height: 120px;
	text-align: center;
	cursor: pointer;
}
.contencao:hover .back {
	background-color: rgba(44,62,80, .7);
}
.back:hover {
	background-color: rgba(44,62,80, .9) !important;
}
.after {
	position: relative;
	float: right;
	margin-top: -426px;
	width: 65px;
	height: 120px;
	background-color: rgba(44,62,80, .4);
	color: #fff;
	font-size: 50px;
	line-height: 120px;
	text-align: center;
	cursor: pointer;
}
.contencao:hover .after {
	background-color: rgba(44,62,80, .7);
}
.after:hover {
	background-color: rgba(44,62,80, .9) !important;
}
ul {
	list-style: none;
	display: flex;
	height: 25px;
	width: 150px;
}
ul li {
	background: #131B22;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	cursor: pointer;
}
.selected {
	background: #c0392b !important;
}